.App {
  font-family: sans-serif;
  text-align: center;
}

.weather-icon {
  width: 100px;
}

.container .card {
  width: 40em;
}

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  text-align: center;
  right: 0;
}
